services:
  # Serviço da sua API
  chicohub-api:
    build: .
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_DATASOURCE_URL=jdbc:mysql://db-chico:3306/chicohub_db?createDatabaseIfNotExist=true
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
    depends_on:
      - db-chico
    restart: always

  # Novo Serviço: Banco de Dados MySQL Local
  db-chico:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: chicohub_db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306" # Acessamos via 3307 no PC para evitar conflitos
    volumes:
      - db_data:/var/lib/mysql # Aqui os dados ficam salvos de verdade

# Volume para persistência no seu Galaxy Book 2
volumes:
  db_data: